
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li><%= task.title %></li>
      <%= link_to "Delete", task_delete_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </ul>



<%= link_to "add", tasks_new_path %>
